extends ../../../../coding_recto_layout.pug
block prototype
	|{{#ClassName}}{{ClassName}}#[br]#[i.indent   ]{{/ClassName}}#[i.mk-func-name {{MethodName}}](#[wbr]#[i.mk-func-param {{ParamName}}]#[i.mk-operator =]
	b
		block prototype-name
			|…
	|#[br])
