:root {
  background: #282828;
  font-size: 20px;
  height: 100%;
  text-align: center;
}

aside {
  background: #eeb;
  color: #a62;
  padding: 1em;
  text-align: justify;
}

aside pre {
  margin-bottom: 1em;
  margin-top: 1em;
}

body {
  font-size: inherit;
}

code {
  background-color: #ccc;
  color: brown;
  padding: 0 .5em;
  white-space: nowrap;
}

footer {
  background-color: darkgray;
  color: white;
  font-size: .5em;
  padding: 2em 0;
}

header {
  background-color: #34b9ff;
  color: #99dbff;
  font-size: 1.6em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

i {
  font-style: normal;
}

i.proto-indent, .indent {
  background: #555;
  border-left: solid 1px #888;
}

img {
  float: left;
}

kbd {
  background-color: #ddd;
  border: solid 2px #aaa;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-size: .7em;
  padding: 2px 15px;
}

pre, .monokai, .mk {
  background: #272822;
  color: #f8f8f2;
  font-family: "Monospace", "Consolas", "Menlo-Regular";
  font-weight: 500;
  overflow-wrap: break-word;
  text-decoration-color: #f8f8f2;
}

pre, .pre {
  padding: 0.2em 0.5em;
  white-space: pre-wrap;
}

pre b, .monokai b, .mk b {
  background-color: #640000;
  background-color: rgba(200, 0, 0, .5);
  color: #f00;
}

section {
  padding: 1px 0;
}

section aside, section .p {
  margin: 1em;
}

section .p {
  padding: 0 1em;
}

section .p aside {
  margin: 1em 0.3em;
}

section+pre, header+pre {
  display: block;
}

dl,
ol,
pre,
ul,
.pre {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.card {
  background-color: white;
  color: black;
  font-family: arial;
  margin: auto;
  max-width: 120vh;
  min-height: 100%;
  text-align: center;
}

.clearfix {
  clear: both;
}

.cloze {
  color: blue;
  font-weight: bold;
}

.error-unknown-block::before {
  background: #f00;
  color: #faa;
  content: "error: block balise without class style (please revise the field content).";
  font-size: 0.5em;
  padding: 0 0.3em;
}

.hotkey {
  display: inline;
  white-space: nowrap;
}

.inline {
  display: inline;
}

.lang-am {
  color: #939;
}

.lang-en {
  color: #f00;
}

.lang-fr {
  color: #00f;
}

.lang-he {
  color: cyan;
}

.lang-title {
  background-color: #fff;
  background-color: rgba(128, 128, 128, 0.8);
  box-shadow: rgba(128, 128, 128, 0.8) 0 0 0.5em 0.3em;
  color: black;
  color: rgba(0, 0, 0, 0.7);
  margin: 1em auto;
  width: 4em;
}

.mk-blue, .mk-var-typ, .mk-type, .typ {
  color: #66d9ef;
}

.mk-cyan {
  color: #a1efe4;
}

.mk-fg2, .mk-comment, .comment {
  color: #75715e;
}

.mk-green, .mk-class-name, .mk-func-name, .class, .func {
  color: #a6e22e;
}

.mk-orange, .mk-func-param, .nam {
  color: #fd971f;
}

.mk-red, .mk-keyword, .oper, .keyword {
  color: #f92672;
}

.mk-violet, .num, .number {
  color: #ae81ff;
}

.mk-yellow, .mk-string, .val {
  color: #e6db74;
}

.mobile {
  font-size: x-large;
}

.mobile section {
  padding: 0;
}

.mobile section aside+aside {
  border-top: solid 1px;
}

.mobile section .p {
  padding: 1em;
}

.mobile section>.p,
.mobile section>aside,
.mobile section>pre {
  margin: 0;
}

.mobile section .p+.p {
  padding-top: 0;
}


.mobile section>:first-child {
  margin-top: 0;
  padding-top: 1em;
}

.mobile section>:last-child {
  margin-bottom: 0;
  padding-bottom: 1em;
}

.outline {
  border: solid 0.1em;
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.1em 0.2em;
}

.outline-red {
  border-color: #f00;
}

.pre {
  margin: 0 1em;
}

.resp {
  background-color: #3d7198;
  color: #fff;
}

.toam, .toen, .tofr, .tohe {
  font-weight: bold;
  padding: 1em;
}

.toam {
  background-color: #939;
}

.toen {
  background-color: #f00;
}

.tofr {
  background-color: #00f;
}

.tohe {
  background-color: cyan;
}

.win {
  font-size: 1.7em;
}

.win .mobile-only {
  display: none;
}

#content {
  margin: 0;
  padding: 0;
}
