block variables
if condition
	if condition2
		|{{##{condition2}}}
	|{{##{condition}}}
block header
	header {{Tags}}
block question
	section.quest
		block question-content
block scripts
	script(src="_css.js")
	script(src="_logos.js")
if condition
	|{{/#{condition}}}
	if condition2
		|{{/#{condition2}}}
