block variables
if condition
	if condition2
		|{{##{condition2}}}
	|{{##{condition}}}
block header
	header {{Tags}}
block question
	section.quest
		block question-content
		div.clearfix
block scripts
if condition
	|{{/#{condition}}}
	if condition2
		|{{/#{condition2}}}
