:root {
  background: #282828;
  font-family: arial;
  font-size: 20px;
  height: 100%;
  text-align: center;
}

aside {
  background: #eeb;
  color: #a62;
  padding: 1em;
  text-align: justify;
}

aside b {
  color: #d62;
}

aside code {
  color: #000;
  font-family: monospace;
  font-weight: 700;
}

aside div+div {
  margin-top: 1em;
}

blockquote {
  background-color: #c8c8c8;
  background-color: rgba(200, 200, 200, 0.5);
  display: inline;
  font-style: italic;
  text-align: justify;
}

body {
  font-family: arial;
  font-size: inherit;
}

footer {
  background-color: darkgray;
  color: #fff;
  font-size: .5em;
  padding: 2em 0;
}

header {
  background-color: #70c278;
  color: #b8e0bc;
  font-size: 2em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

i {
  font-style: normal;
}

section aside, section .p {
  margin: 1em;
}

section .p {
  padding: 0;
}

ul, ol {
  display: table;
  margin: 0 auto;
  text-align: right;
}

ul ul, ul ol, ol ul, ol ol {
  margin: initial;
}

.card {
  background-color: #fff;
  color: #000;
  font-weight: normal;
  margin: 0 auto;
  max-width: 120vh;
  min-height: 100%;
  text-align: center;
}

.cloze {
  color: #00f;
  font-weight: bold;
}

.cloze-ref {
  color: #0ea529;
  font-size: 1.1em;
  margin-top: 10px;
  text-decoration: underline;
}

.context b {
  color: #b5690d;
  font-size: 1.1em;
}

.context {
  background-color: #eeb;
  border-top: solid 1px #81930e;
  color: #81930e;
  font-size: 0.65em;
  padding: 1em;
  text-align: justify;
}

.daf img {
  background-origin: content-box;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
}

.itself {
  color: #185d1f;
}

.mobile {
  font-size: 1.4em;
}

.mobile section aside, .mobile section .p {
  margin: 0;
}

.mobile section .p {
  padding: 1em;
}

.mobile section .p+.p {
  padding-top: 0;
}

.parent {
  background: #8bcb91;
  display: table;
  margin: 1em auto;
}

.parent h4 {
  margin: 0.5em;
}

.subheader {
  background-color: #4db357;
  color: #94d19a;
  margin: 0;
}

.ref {
  color: #0f0;
  font-size: 1em;
  font-weight: normal;
}

.resp {
  background-color: #3d9946;
  color: #fff;
}

.resp .p .cloze {
  color: #00b1ff;
}

.resp .p .cloze-ref {
  color: #000;
}

.resp .ref {
  color: lime;
}

.resp .why, .resp .p+.p.why {
  background-color: #b870c2;
  color: #dcb8e0;
  padding: 1em;
}

.sibling {
  background: #185d1f;
}

.sibling, .itself {
  margin: 0.1em;
  padding: 0 0.5em;
  text-align: right;
}

.sic {
  color: #00f;
  font-size: 0.8em;
  font-weight: normal;
}

.tzurah img {
  height: auto;
  width: 50px;
}

.win .daf {
  height: 50em;
}

.win .daf img {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

#content {
  margin: 0;
  padding: 0;
}
