:root {
  text-align: center;
}

aside {
  background: #eeb;
  border-radius: 0.5em;
  color: #a62;
  margin-top: 1em;
  padding: 15px 5px;
}

code {
  background-color: #ccc;
  color: brown;
  padding: 0 .5em;
  white-space: nowrap;
}

footer {
  font-size: .5em;
  margin-top: 2em;
}

h1 {
  color: green;
  font-weight: normal;
}

header {
  background-color: #34b9ff;
  color: white;
  font-size: 2em;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

i {
  font-style: normal;
}

img {
  float: left;
}

kbd {
  background-color: #ddd;
  border: solid 2px #aaa;
  border-radius: 5px;
  display: inline-block;
  font-size: .7em;
  padding: 2px 15px;
}

pre {
  background: #282828;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5em;
  text-align: left;
  text-decoration-color: white;
  white-space: pre-wrap;
}

pre b {
  color: red;
}

ul, ol {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.card {
  background-color: white;
  color: black;
  /*display: inline-block;*/
  font-family: arial;
  font-size: 20px;
  margin: auto;
  text-align: center;
}

.cloze {
  color: blue;
  font-weight: bold;
}

.hotkey {
  display: inline;
  white-space: nowrap;
}

.lang-am {
  color: #939;
}

.lang-en {
  color: red;
}

.lang-fr {
  color: blue;
}

.lang-he {
  color: cyan;
}

.lang-title {
  background-color: white;
  background-color: rgba(128,128,128,0.8);
  box-shadow: rgba(128,128,128,0.8) 0 0 0.5em 0.3em;
  color: black;
  color: rgba(0,0,0,0.7);
  margin: 1em auto;
  width: 4em;
}

.nam {
  color: #FD971F;
}

.toam, .toen, .tofr, .tohe {
  font-weight: bold;
  padding: 1em;
}

.toam {
  background-color: #939;
}

.toen {
  background-color: red;
}

.tofr {
  background-color: blue;
}

.tohe {
  background-color: cyan;
}

.typ {
  color: cyan;
}

.val {
  color: #E6DB74;
}

#content {
  margin: 0;
}
