:root {
  background: #282828;
  font-size: 20px;
  height: 100%;
  text-align: center;
}

aside {
  background: #eeb;
  color: #a62;
  padding: 1em;
  text-align: justify;
}

aside pre, .p pre {
  margin-bottom: 1em;
  margin-top: 1em;
}

code {
  background-color: #ccc;
  color: brown;
  padding: 0 .5em;
  white-space: nowrap;
}

footer {
  background-color: darkgray;
  color: white;
  font-size: .5em;
  padding: 2em 0;
}

header {
  background-color: #34b9ff;
  color: white;
  font-size: 2em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

i {
  font-style: normal;
}

i.proto-indent {
  background:#555;
  border-left: solid 1px #888;
}

img {
  float: left;
}

kbd {
  background-color: #ddd;
  border: solid 2px #aaa;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-size: .7em;
  padding: 2px 15px;
}

pre {
  background: #282828;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
  padding: 0.2em 0.5em;
  text-decoration-color: white;
  white-space: pre-wrap;
}

pre b {
  color: red;
  background-color: rgb(100,0,0);
  background-color: rgba(200,0,0,0.5);
}

section {
  padding: 1px 0;
}

section aside, section .p {
  margin: 1em;
}

section .p {
  padding: 0;
}

section + pre, header + pre {
  display: block;
}

ul, ol, pre {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.card {
  background-color: white;
  color: black;
  font-family: arial;
  margin: auto;
  max-width: 35em;
  min-height: 100%;
  text-align: center;
}

.clearfix {
  clear: both;
}

.cloze {
  color: blue;
  font-weight: bold;
}

.hotkey {
  display: inline;
  white-space: nowrap;
}

.lang-am {
  color: #939;
}

.lang-en {
  color: red;
}

.lang-fr {
  color: blue;
}

.lang-he {
  color: cyan;
}

.lang-title {
  background-color: white;
  background-color: rgba(128,128,128,0.8);
  box-shadow: rgba(128,128,128,0.8) 0 0 0.5em 0.3em;
  color: black;
  color: rgba(0,0,0,0.7);
  margin: 1em auto;
  width: 4em;
}

.mobile section {
  padding: 0;
}

.mobile section aside, .mobile section .p {
  margin: 0;
}

.mobile section .p {
  padding: 1em;
}

.mobile section .p + .p {
  padding-top: 0;
}

.nam {
  color: #FD971F;
}

.oper {
  color: #F92672;
}

.outline {
  border: solid 0.1em;
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.1em 0.2em;
}

.outline-red {
  border-color: red;
}

.func {
  color: #A6E22E;
}

.resp {
  background-color: #3d7198;
  color: white;
}

.toam, .toen, .tofr, .tohe {
  font-weight: bold;
  padding: 1em;
}

.toam {
  background-color: #939;
}

.toen {
  background-color: red;
}

.tofr {
  background-color: blue;
}

.tohe {
  background-color: cyan;
}

.typ {
  color: cyan;
}

.val {
  color: #E6DB74;
}

.win {
  font-size: 2.5em;
}

.win .mobile-only {
  display: none;
}

#content {
  margin: 0;
  padding: 0;
}
