:root {
  background: #282828;
  font-family: arial;
  font-size: 20px;
  height: 100%;
  text-align: center;
}

aside {
  background: #eeb;
  color: #a62;
  padding: 1em;
  text-align: justify;
}

aside code {
  color: black;
  font-family: monospace;
  font-weight: 700;
}

blockquote {
  background-color: rgb(200, 200, 200);
  background-color: rgba(200, 200, 200, 0.5);
  display: inline;
  font-family: "Times new roman";
  font-style: italic;
}

footer {
  background-color: darkgray;
  color: white;
  font-size: .5em;
  padding: 2em 0;
}

header {
  background-color: #6bbf73;
  color: white;
  font-size: 2em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

i {
  font-style: normal;
}

section {
  padding: 1px;
}

section aside, section .p {
  margin: 1em;
}

section .p {
  padding: 0;
}

ul {
  display: table;
  margin: 0 auto;
  text-align: right;
}

.card {
  background-color: white;
  color: black;
  font-weight: normal;
  margin: 0 auto;
  max-width: 700px;
  min-height: 100%;
  text-align: center;
}

.cloze {
  color: blue;
  font-weight: bold;
}

.cloze-ref {
  color: #0ea529;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 10px;
}

.context b {
  color: #B5690D;
  font-size: 1.1em;
}

.context {
  background-color: #eeb;
  color: #81930E;
  font-size: 0.65em;
  padding: 1em;
  text-align: justify;
}

.daf {
  background-origin: content-box;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
}

.itself {
  color: #185d1f;
}

.mobile section {
  padding: 0;
}

.mobile section aside, .mobile section .p {
  margin: 0;
}

.mobile section .p {
  padding: 1em;
}

.mobile section .p+.p {
  padding-top: 0;
}

.parent {
  background: #8bcb91;
  display: table;
  margin:auto;
}

.parent h4 {
  margin: 0.5em;
}

.ref {
  color: green;
  font-size: 1em;
  font-weight: normal;
}

.resp {
  background-color: #3d9946;
  color: white;
}

.resp .p .cloze {
  color: lime;
}

.resp .p .cloze-ref {
  color: #e7ca70;
}

.resp .ref {
  color: lime;
}
/**
.resp .sic {
  color: wheat;
}
/**/

.sibling {
  background:#185d1f;
}

.sibling, .itself {
  margin: 0.1em;
  padding: 0 0.5em;
  text-align: right;
}

.sic {
  color: blue;
  font-size: 0.8em;
  font-weight: normal;
}

.tzurah img {
  height: auto;
  width: 50px;
}

.win .daf {
  height: 1200px;
}

.win .daf img {
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 700px;
}

#content {
  margin: 0;
  padding: 0;
}
