:root {
  background: #282828;
  font-family: arial;
  font-size: 20px;
  height: 100%;
  text-align: center;
}

aside {
  background: #eeb;
  color: #a62;
  padding: 1em;
  text-align: justify;
}

aside code {
  color: black;
  font-weight: 700;
}

footer {
  background-color: darkgray;
  color: white;
  font-size: .5em;
  padding: 2em 0;
}

h3 {
  margin: 0 0 1em;
}

header {
  background-color: #6bbf73;
  color: white;
  font-size: 2em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

i {
  font-style: normal;
}

section {
  padding: 1em;
}

.card {
  background-color: white;
  color: black;
  font-weight: normal;
  margin: 0 auto;
  max-width: 700px;
  min-height: 100%;
  text-align: center;
}

.cloze {
  color: blue;
  font-weight: bold;
}

.cloze-ref {
  color: #0ea529;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 10px;
}

.context b {
  color: #B5690D;
  font-size: 1.1em;
}

.context {
  background-color: #eeb;
  color: #81930E;
  font-size: 0.65em;
  padding: 1em;
  text-align: justify;
}

.daf {
  background-origin: content-box;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
}

.ref {
  color: green;
  font-size: 1em;
  font-weight: normal;
}

.resp {
  background-color: #3d7198;
  color: white;
}

.sic {
  color: blue;
  font-size: 0.8em;
  font-weight: normal;
}

.tzurah img {
  height: auto;
  width: 50px;
}

.win .daf img {
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
  width: 700px;
}

.win .daf {
  height: 1000px;
}

.mobile section aside {
  margin: 0 -1em -1em;
}

#content {
  margin: 0;
  padding: 0;
}
