extends ../../hol_verso_layout.pug
block response-content
	h3.p <code>{{Param#{i}Default}}</code>
	|{{#Param#{i}Desc}}<aside>{{Param#{i}Desc}}</aside>{{/Param#{i}Desc}}
block response-after
	include prototype.pug
