extend ../../hol_recto_layout.pug
block variables
	- var condition = 'Param' + i + 'Name'
block question-content
	h2 in function <code>{{MethodName}}</code>
	|<b>Position</b> of <code>{{Param#{i}Name}}</code> parameter
