extend ../../hol_recto_layout.pug
block variables
	- var condition = 'Param' + i + 'Type';
block question-content
	h2.p in function <code>{{MethodName}}</code>
	.p <b>Type</b> of <code>{{Param#{i}Name}}</code> parameter
