extends ../kodech_recto_layout.pug
block header
	header(dir='rtl') סימנים
block question-content
	h1.p #[i(context-data="{{contextRef}}.parent.title")] #[i(context-data="{{contextRef}}.id")]
block scripts
	script(src="_context-bootstrap.js")
