extends ../kodech_recto_layout.pug
block header
	header(dir='rtl') סימנים
block question-content
	.p איפוא בשו"ע #[br]	הלכות #[i(context-data="{{contextRef}}.group.title")]#[br]דיני #[i(context-data="{{contextRef}}.title")]
block scripts
	script(src="_context-bootstrap.js")
