extend ../../coding_recto_layout
block prototype
	|#[i.mk-type {{#ObjectType}}{{ObjectType}}{{/ObjectType}}{{^ObjectType}}Class{{/ObjectType}}]#[br]{{#Parent}}{{Parent}}#[br]  {{/Parent}}#[i.mk-class-name {{Name}}]
block question-content
	.p Description
