extend ../../coding_recto_layout
block prototype
	|{{#Parent}}{{Parent}}#[br]  {{/Parent}}#[i.mk-class-name {{Name}}]
block question-content
	.p {{#ObjectType}}{{ObjectType}}{{/ObjectType}}{{^ObjectType}}class{{/ObjectType}} usage
