mixin context(before, after, highlight)
	-
		var context_list = {};
		for(var i = before; i > 0; --i){
			context_list['{{contextRef}}' + '.previousSibling'.repeat(i)] = i === -highlight ? 'itself' : 'sibling';
		}
		context_list['{{contextRef}}'] = highlight === 0 ? 'itself' :'sibling'
		for(var i = 1; i <= after; ++i){
			context_list['{{contextRef}}' + '.nextSibling'.repeat(i)] = i === highlight ? 'itself' : 'sibling';
		}
	.parent
		h4.title מסכת #[i(context-data="{{contextRef}}.parent.title")]
		each className, ref in context_list
			div(class=className context-show=ref) #[i(context-data=ref+".id")] : #[i(context-data=ref+".title")]
