extends ../kodech_verso_layout.pug
include context.pug
block response-content
	.p(context-hide="{{contextRef}}.nextSibling")
		|זה הפרק האחרון של המסכת
		+context(3,3,0)
	.p(context-show="{{contextRef}}.nextSibling")
		i(context-data="{{contextRef}}.nextSibling.title")
		+context(3,3,1)
