extends ../../hol_verso_layout
block response-content
	.p #[code {{ShortAlias}}]
	aside {{Usage}}
	|{{#Comment}}#[aside {{Comment}}]{{/Comment}}
block response-after
	|{{#Command_Form}}#[pre {{Command_Form}}]{{/Command_Form}}
