extends ../command_recto_layout
block variables
	- var condition = "ShortAlias";
block command-present
	|#{' '}{{CommandName}} #[i.mk-comment &hellip;] #[b {{ShortAlias}}]_
block question-content
	.p Usage
