extends ../../hol_recto_layout
block variables
	- var condition = "ShortAlias";
	- var condition2 = "Arg";
block question-content
	h2.p #[code {{CommandName}}] options
	.p Short alias to : #[code {{Arg}}]
