extends ../kodech_verso_layout.pug
block front
block response-content
	aside.p {{cloze:Texte}}
block response-after
	|{{#Context}}<div class="context" dir="rtl">{{Context}}</div>{{/Context}}
	|{{#Daf}}<div class="daf"><img src="{{Daf}}" {{#Mask}}style="background-image: url('{{Mask}}')"{{/Mask}}/></div>{{/Daf}}
