extends ../kodech_recto_layout.pug
block header
	header(dir='rtl') פרקים
block question-content
	.p פרק {{Numero}} {{Massekhet}}
	aside #[i(context-data="{{contextRef}}.parent.title")] #[i(context-data="{{contextRef}}.id")]
block scripts
	script(src="_context-bootstrap.js")
