extends ../kodech_recto_layout.pug
block header
	header(dir='rtl') פרקים
block question-content
	.p פרק {{#contextRef}}#[i(context-data="{{contextRef}}.id")] #[i(context-data="{{contextRef}}.parent.title")]{{/contextRef}}{{^contextRef}}{{Numero}} {{Massekhet}}{{/contextRef}}
block scripts
	script(src="_context-bootstrap.js")
