extends ../../coding_recto_layout.pug
block variables
	- var condition = 'Param' + i + 'Desc';
block prototype
	|{{#ClassName}}{{ClassName}}#[br]  {{/ClassName}}#[i.mk-func-name {{MethodName}}]
block question-content
	.p #[b Description] of #[code.monokai.mk-func-param {{Param#{i}Name}}]
