extends ../../hol_verso_layout.pug
block response-content
	.p #[code.mk.mk-type {{ReturnType}}]
	|{{#ReturnContent}}#[aside {{ReturnContent}}]{{/ReturnContent}}
block response-after
	include prototype.pug
