extends ../../hol_verso_layout.pug
block response-content
	#nbParams.p
block response-after
	include prototype.pug
block scripts
	script
		|var nb = document.createTextNode(0{{#Param1Name}} + 1{{/Param1Name}}{{#Param2Name}} + 1{{/Param2Name}}{{#Param3Name}} + 1{{/Param3Name}}{{#Param4Name}} + 1{{/Param4Name}}{{#Param5Name}} + 1{{/Param5Name}}{{#Param6Name}} + 1{{/Param6Name}});
		|document.getElementById("nbParams").appendChild(nb);
