extends ../../hol_verso_layout.pug
block response-content
	.p #[code.mk.mk-var-typ {{Param#{i}Type}}]
	|{{#Param#{i}Desc}}#[aside {{Param#{i}Desc}}]{{/Param#{i}Desc}}
block response-after
	include prototype.pug
