extends ../kodech_verso_layout.pug
block response-content
	h3.p {{#Psak}}{{Psak}}{{/Psak}}{{^Psak}}{{Question}} =&gt; {{Reponse}}{{/Psak}}
	|{{#Lachon}}#[aside {{Lachon}}]{{/Lachon}}
block response-after
	include daf.pug
