extends ../kodech_recto_layout.pug
block header
	header
		i(id='tg' onclick="this.outerText='{{Tags}}'" style="font-style:italic; font-size: 0.5em;") afficher Tags
block question-content
	h2.p איפא
	.p אמר #[em {{Auteur}}]
		|{{#Psak}} {{Psak}}{{/Psak}}
		|{{^Psak}} {{Question}} =&gt; {{Reponse}}{{/Psak}}
