extends ../kodech_verso_layout.pug
block response-content
	h3.coord.p {{Ou}}
	|{{#OuContextRef}}
	.p #[i(context-data="{{OuContextRef}}.title")]
	|{{/OuContextRef}}
	|{{#Lachon}}#[aside {{Lachon}}]{{/Lachon}}
block response-after
	include daf.pug
append scripts
	script tg.onclick();
