extends ../kodech_verso_layout.pug
block response-content
	h3.coord.p {{Où}}
	|{{#OuContextRef}}
	.p #[i(context-data="{{OuContextRef}}.title")]
	|{{/OuContextRef}}
	|{{#Lachon}}#[aside {{Lachon}}]{{/Lachon}}
block response-after
	include daf.pug
block scripts
	script tg.onclick();
	script(src="_context-bootstrap.js")
