extends ../kodech_recto_layout.pug
block variables
	- var condition = 'Source';
block question-content
	h2.p על מי סמך
	.p #[em {{Auteur}}] לאמר
		|{{#Psak}} {{Psak}}{{/Psak}}
		|{{^Psak}} {{Question}} =&gt; {{Reponse}}{{/Psak}}
