extends charcode_recto_layout
block variables
	- var condition = "UnicodeDec";
block question-content
	.p Unicode #[b DECIMAL] value of #[i.outline.outline-red {{Name}}]&nbsp;{{#Raw}}#[i.outline {{Raw}}]{{/Raw}}
