extends charcode_recto_layout
block variables
	- var condition = "UnicodeDec";
block question-content
	.p Unicode #[b DECIMAL] value of #[i.outline.outline-red {{Name}}] {{#Raw}}(#[code {{Raw}}]){{/Raw}}
