block front
	|{{FrontSide}}
block response
	section.resp#answer(dir='rtl')
		block response-content
block response-after
block footer
	footer {{Type}}&gt;{{Card}}
block scripts
	script setTimeout(function(){document.getElementById('answer').scrollIntoView();}, 50);
