block variables
if condition
	|{{##{condition}}}
block header
	header(dir='rtl') {{Tags}}
block question
	section.quest(dir='rtl')
		block question-content
		div.clearfix
block scripts
	script(src="_context-bootstrap.js")
if condition
	|{{/#{condition}}}
