extends ../../hol_verso_layout
block response-content
	.p {{#Arg}}<code>{{Arg}}</code>{{#ShortAlias}} or {{/ShortAlias}}{{/Arg}}{{#ShortAlias}}<code>{{ShortAlias}}</code>{{/ShortAlias}}
	|{{#Example}}<aside>{{Example}}</aside>{{/Example}}
