extends ../../hol_recto_layout
block variables
	- var condition = "Arg";
block question-content
	h2.p <code><i id="cn" onclick="this.outerText='{{CommandName}}';return false;" style="font-size:.5em;">afficher CommandName</i></code> options
	.p Usage of : <code>{{Arg}}</code>
