extends ../../hol_verso_layout
block response-content
	.p {{Usage}}
	|{{#ShortAlias}}#[aside short alias : #[code {{ShortAlias}}]]{{/ShortAlias}}
	|{{#Comment}}#[aside {{Comment}}]{{/Comment}}
block response-after
	|{{#Command_Form}}#[pre {{Command_Form}}]{{/Command_Form}}
