extends ../kodech_verso_layout.pug
block response-content
	.p {{Pourquoi}}
	|{{#PourquoiLachon}}#[aside {{PourquoiLachon}}]{{/PourquoiLachon}}
	|{{^PourquoiLachon}}{{#Lachon}}#[aside {{Lachon}}]{{/Lachon}}{{/PourquoiLachon}}
block response-after
	include daf.pug
