extends ../kodech_verso_layout.pug
block response-content
	.p {{Reponse}}
	|{{#Lachon}}#[aside {{Lachon}}]{{/Lachon}}
	|{{#Pourquoi}}#[.p.why {{Pourquoi}}]{{/Pourquoi}}
	.where.coord {{Ou}}
block response-after
	include daf.pug
