extends ../kodech_verso_layout.pug
block response-content
	.p {{Reponse}}
	|{{#Lachon}}#[aside {{Lachon}}]{{/Lachon}}
	|{{#Pourquoi}}#[.why {{Pourquoi}}]{{/Pourquoi}}
	|{{#Ou}}
	.where.coord {{Ou}}
	|{{/Ou}}
block response-after
	include daf.pug
