extends ../hol_recto_layout
block question-content
	h2 in <code><i id="cof" onclick="this.outerText='{{CommandOrFunc}}'" style="font-size:.5em;">afficher CommandOrFunc</i></code>
	|Usage of : <code>{{Arg}}={{Value}}</code>
