extends ../hol_recto_layout
block question-content
	h2 <code><i id="cof" onclick="this.outerText='{{CommandOrFunc}}'" style="font-size:.5em;">afficher CommandOrFunc</i></code><br><code><i id="arg" onclick="this.outerText='{{Arg}}'" style="font-size:.5em;">afficher Arg</i></code> value to
	|{{Usage}}
