extends ../../../../coding_recto_layout.pug
block prototype
	|{{#ClassName}}{{ClassName}}#[br]#[i.indent   ]{{/ClassName}}#[i.mk-func-name {{MethodName}}](#[wbr]#[i.no-break #[i.mk-func-param {{ParamName}}]#[i.mk-operator =]{]#[br]#[i.indent   ]#[i.indent   ]
	block prototype-key
		block prototype-name
			|{{PropertyName}}
		|#{": "}
		block prototype-value
			|…
	|#[br]#[i.indent   ]})
